.container {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0 100px;
  z-index: 100;
  background-color: var(--background-color);
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
}

.nav__item {
  padding: 0 15px;
}

.nav__logo,
.nav__link {
  font-family: var(--text-font);
  font-weight: 700;
}

.nav__logo {
  color: var(--font-third-color);
  font-size: var(--middle-font-size);
  line-height: 38px;
}

.nav__link {
  color: var(--font-color);
  font-size: var(--sec-middle-font-size);
  line-height: 27px;
}

.nav__link:hover {
  color: var(--font-third-color);
}

.nav__toggle {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  cursor: pointer;
}

.nav__toggle span {
  display: block;
  margin: 1px;
  background-color: var(--font-color);
  width: 16.5px;
  height: 2.2px;
  border-radius: 20px;
}

.active-link {
  position: relative;
  color: var(--font-third-color);
}

.nav__toggle span {
  transition: 0.5s;
}

.nav__toggle span:nth-child(2) {
  display: none;
}

.nav__toggle.active span:nth-child(1) {
  width: 0%;
}

.nav__toggle.active span:nth-child(2) {
  display: block;
  transform: rotate(45deg);
  margin: -1px;
}

.nav__toggle.active span:nth-child(3) {
  display: block;
  transform: rotate(-45deg);
  margin: -1px;
}

.nav__toggle.active span:nth-child(4) {
  width: 0%;
}

/* HOME */
.home {
  width: 100%;
  height: calc(100vh + 5rem);
  padding: 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-row {
  display: flex;
  flex-direction: column;
}

.home-title {
  font-family: var(--body-font);
  font-size: var(--header-font-size);
  color: var(--font-color);
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0.2em;
}

.home-text {
  margin-top: 10px;
  font-family: var(--text-font);
  font-size: var(--middle-font-size);
  color: var(--font-color);
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.2em;
}

.home-button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: var(--second-background-color);
  border: none;
  outline: none;

  /*font*/
  font-family: var(--body-font);
  font-size: var(--text-font-size);
  color: var(--background-color);
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.2em;
}

.home-button:hover {
  background-color: var(--font-third-color);
  transition: all ease-in-out 0.2s;
}

.home-img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.underline span {
  background: linear-gradient(to right, var(--line-color), var(--line-color)),
    linear-gradient(
      to right,
      var(--font-third-color),
      var(--second-background-color)
    );
  background-size: 100% 0.2em, 0 0.2em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.home-row:hover span {
  background-size: 0 0.2em, 100% 0.2em;
}

/* ABOUT */
.about {
  padding: 0 50px;
  height: calc(100vh + 5rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--second-background-color);
}

.abt-row-one {
  padding: 0 2rem;
}

.abt-row-scd {
  padding-left: 2rem;
}

.about-row {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-about,
.profile-title-about,
.skills-title-about,
.experience-title-about {
  font-family: var(--body-font);
  color: var(--background-color);
  font-weight: 700;
}

.profile-title-about,
.skills-title-about,
.experience-title-about {
  font-size: var(--middle-font-size);
  line-height: 24px;
  letter-spacing: 0.2em;
}

.title-about {
  font-size: var(--sec-header-font-size);
  line-height: 73px;
}

.line-about {
  width: 2px;
  height: 200px;
  margin: 50px 0 30px 0;
  background-color: var(--background-color);
}

.profile-text-about {
  margin-top: 10px;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--background-color);
  font-weight: 400;
  line-height: 19px;
}

.profile-wrapper-about {
  display: flex;
  flex-direction: column;
}

.skills-wrapper-about,
.experience-wrapper-about {
  display: flex;
  flex-direction: row;
}

.skills-wrapper-about {
  margin-bottom: 30px;
}

.list-wrapper-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px 0;
}

.dot-list-about {
  width: 8px;
  height: 8px;
  margin-right: 20px;
  background-color: var(--dots-color);
}

.wrapper-row-about {
  width: 170px;
  margin-right: 50px;
}

.wrapper-row-about-text {
  display: flex;
  flex-direction: column;
}

.title-experience-list {
  font-family: var(--text-font);
  font-size: var(--middle-font-size);
  color: var(--background-color);
  font-weight: 700;
  line-height: 27px;
}

.skills-text-about,
.date-experience-list,
.text-experience-list {
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--background-color);
  font-weight: 700;
  line-height: 19px;
}

.text-experience-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* PROJECT */
.project {
  width: 100%;
  height: 100vh;
  padding: 1rem 50px;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-project {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery-project-list {
  display: flex;
  flex-direction: row;
}

.title-project {
  font-family: var(--body-font);
  font-size: var(--header-font-size);
  color: var(--font-color);
  font-weight: 700;
  line-height: 73px;
}

.row-project:hover span {
  background-size: 0 0.2em, 100% 0.2em;
}

.text-project {
  margin: 10px 0 100px 0;
  width: 60%;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--font-color);
  font-weight: 400;
  line-height: 19px;
}

.wrapper-project {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-list-project {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
  margin: 0 2px;
}

.link-github-project {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-project {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  cursor: pointer;
}

.img-list-project:hover .img-project {
  filter: brightness(100%);
  transition: all ease-in-out 0.4s;
  transform: scale(1.01);
}

.view-project {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0);
  background-color: var(--font-third-color);

  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--background-color);
  letter-spacing: 0.2em;
  text-align: center;
}

.img-list-project:hover .view-project {
  display: flex;
  transform: scale(0.8);
  transition: all ease-out 0.4s;
}

/* CONTACT */
.contact {
  width: 100%;
  height: 100vh;
  padding: 5rem 100px;
  background-color: var(--second-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact-row {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.title-contact {
  font-family: var(--body-font);
  font-size: var(--header-font-size);
  color: var(--background-color);
  font-weight: 700;
  line-height: 73px;
}

.text-contact {
  margin: 10px 0 100px 0;
  font-family: var(--text-font);
  font-size: var(--middle-font-size);
  color: var(--background-color);
  font-weight: 400;
  line-height: 19px;
}

.list-contact-medsos {
  display: flex;
  flex-direction: column;
}

.instagram,
.linkedIn {
  display: flex;
  flex-direction: row;
  margin: 7px 0;
}

.instagram-link,
.linkedIn-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-instagram,
.bi-linkedin {
  width: 18px;
  height: 18px;
  fill: var(--background-color);
}

.text-instagram-id,
.text-linkedIn-id {
  margin: 0 20px;
  font-family: var(--text-font);
  font-size: var(--middle-font-size);
  color: var(--background-color);
  font-weight: 400;
  line-height: 19px;
}

.form-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content-list-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left {
  margin-right: 5px;
}

.right {
  margin-left: 5px;
}

.content-list-message {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  margin: 10px 0;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--background-color);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 19px;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid var(--background-color);
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;

  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--background-color);
}

.input::placeholder {
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--placeholder-color);
}

.message-area {
  padding: 10px;
  outline: none;
  background-color: transparent;
  border: 2px solid var(--background-color);
  border-radius: 10px;

  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--background-color);
}

.message-area::placeholder {
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--placeholder-color);
}

.wrapper-btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: var(--background-color);
}

.submit-btn {
  position: absolute;
  left: 5%;
  width: 100%;
  height: 100%;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  color: var(--second-background-color);
  font-weight: 700;
  letter-spacing: 0.2em;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.bi-send-fill {
  position: absolute;
  left: 25%;

  width: 16px;
  height: 16px;
  fill: var(--second-background-color);
}

.wrapper-btn:hover {
  background-color: var(--font-third-color);
  transition: all ease-in 0.2s;
}

.wrapper-btn:hover .submit-btn,
.wrapper-btn:hover .bi-send-fill {
  color: var(--background-color);
  fill: var(--background-color);
  transition: all ease-in 0.2s;
}
