/* COLOR */
:root {
  --main-color: #ffffff;
  --dark-color: #000000;
  --brown-color: #d3b88c;
  --dark-brown-color: #60584b;
  --grey-color: #9b9b9b;
}

/* FONT */
:root{
    --body-font: "Montserrat", sans-serif;
}

/* Z-INDEX */
:root{
    --z-fixed: 100;
    --z-normal: 1;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
