.titleArticle {
  color: #252525;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: 45px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.bodyArticle {
  color: #4d4d4d;
  font-size: 10px;
  width: 100%;
  height: 52px !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
