.container {
  padding: 0;
}

.main{
  padding-top: 150px;
}

.hInfo{
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  line-height: 1.5;
}

.pInfo{
  font-size: 10px;
  font-weight: 400;
  color: rgb(82, 87, 92);
  margin-top: 0;
}

.infoBanner{
  padding: 15px 0px 0 20px;
}

.swipeWrapper{
  background-color: #fff;
}

.categories{
  margin-top: 10px;
  padding-top: 10px;
  background-color: #fff;
}

.productHere{
  margin: 8px 0 0;
  min-height: 390px;
  padding-bottom: 16px;
  background-color: #fff;
}

.titleWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contentTitle{
  display: flex;
  flex-direction: column;
}
.titleHeader{
  padding: 16px 16px 20px;
}

.titleProduct{
  font-size: 13px;
  font-weight: 700;
}

.subtitleProduct{
  font-size: 10px;
  font-weight: 400;
  color: rgb(37, 37, 37);
}

.others{
  color: #2F9CF1;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}