.buttonCategory{
    background-color: none;
    border: 1px solid #E8E8E8;
    background: none;
    padding: 10px;
    border-radius: 10px;
    margin: 0 8px;
    margin-bottom: 6px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.buttonCategory:hover{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.buttonImg{
    width: 42px;
    height: 42px;
}

.buttonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.paraghraphButton{
    margin: 0 5px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #707585;
}

.containerButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #fff;
}