.header{
    position: fixed;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    max-width: 442px;
    height: 150px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 4px;
    width: 100%;
    z-index: 100;
}

.navbar{
    padding: 16px;
    width: 100%;
}

.tempatHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.pHeader{
    font-size: 10px;
    font-weight: 600;
    color: #4E5356;
    margin: 0;
}

.locHeader, .changeLoc{
    display: flex;
    align-items: center;
}

.locIcon{
    width: 18px;
    height: 14px;
}

.locPlace{
    font-size: 11px;
    font-weight: 700;
    margin-left: 8px;
}

.pChange{
    color: #2F9CF1;
    font-size: 11px;
    font-weight: 500;
    margin-right: 6px;
}

.searchBar{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 8px 16px;
    margin-top: 16px;
    align-items: center;
    border-radius: 100px;
    background-color: #F1F2F6;
}

.searchIcon{
    color: #707585 !important;
    display: flex;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}

.MuiSvgIcon{
    color: #707585 !important;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.inputSrc{
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-weight: 400;
    width: 100%;
    margin-left: 32px;
    border: none;
}

.srcHeader{
    color: currentColor;
    background: none;
    width: 100%;
    height: 1.1876em;
    margin: 0;
    padding: 6px 0 7px;
    min-width: 0;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
}

.srcHeader::before{
    border: none;
}

.srcHeader::after{
    border: none;
}